#top{    
    width: 100%;
    height: 106px;
}

#logo{
    display: block;
    float: left;
    width: 188px;
    height: 106px;
    border-right: rgb(238, 241, 241) solid 1px;
}

#content-shorcuts-menu{
    width: calc(100% - 189px);
    height: 106px;
    float: left;
}

#shorcuts{
    width: 100%;
    height: 34px;
    clear: both;
    border-bottom: rgb(238, 241, 241) solid 1px;
    text-align: right;
}

#shorcuts a{
    display: inline-block;    
    padding-left: 10px;
    padding-right: 10px;
    height: 34px;
    line-height: 34px;
    font-size: 10px;
    letter-spacing: 0.3em;
    font-weight: bold;
    color: rgb(12, 18, 28);
}

#menu{
    width: 100%;
    height: 71px;
    clear: both;
}

#menu a{
    display: block;
    float: left;
    height: 71px;
    text-align: center;
    line-height: 71px;
    font-weight: 900;
    font-size: 10px;
    color: rgb(12, 18, 28);
    letter-spacing: 0.2em;
    box-sizing: border-box;
    border-right: rgb(238, 241, 241) solid 1px;
}

#menu a:hover{
    background-color: rgb(228, 232, 232);
    cursor: pointer;
}

#contentmodelos {
    display: none;
    position: absolute;
    top: 106px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(248, 249, 249);
    overflow: auto;
    z-index: 200;
}

.modelo {
    opacity: 0;
    width: 25%;
    height: 410px;
    float: left;
    outline: rgb(238, 241, 241) solid 1px;
    text-align: center;
    position: relative;
    background-color: #FFF;
    position: relative;
}

.modelo img {
    width: 100%;
    height: auto;
}

.modelo span {
    display: inline-block; 
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: #000 solid 1px;
    border-bottom: #000 solid 1px;
    text-align: center;
    font-size: 15px;
    color: rgb(12, 18, 28)!important;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-transform: uppercase;    
}

.precio-desde {
    display: block;
    text-align: center;
    font-weight: normal;
    font-size: 11px;
    letter-spacing: 2px;
    color: #4a4f54;
    margin-top: 20px;
}

.modelo p {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    font-style: italic;
    font-size: 12px;
    color: #FFFFFF;
}

.modelo a {
    float: left;
    display: block;        
    width: 50%;
    height: 40px;
    line-height: 40px;
    border-top: rgb(238, 241, 241) solid 1px;
    color: #898c8f;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 80px;
}

#content-call-to-action-template {
    height: 200px;
    width: 250px;
    position: fixed;
    top: 250px;
    z-index: 100;
    right: 0;
}

#content-call-to-action-template ul, #content-call-to-action-template li {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    list-style: none;
    padding: 0px !important;
    padding-left: 0px;
    display: block;
    width: 250px;
    height: 50px;
    position: relative;
    clear: both;
    margin: 0px;
}

#call-to-action-template {
    height: 200px;
    width: 50px;
    background-color: #0B121C;
    float: right;
}

#content-call-to-action-template img {
    position: absolute;
    cursor: pointer;
    float: right !important;
    right: 0;
}

.call-to-action-description-template {
    display: none;
    height: 50px;
    width: 190px;
    padding-left: 10px;
    line-height: 50px;
    color: #ffffff;	
    background-color: rgba(18, 24, 34, 0.8);
    cursor: pointer;
}

.call-to-action-description-template a {
    color: #FFFFFF;
}

#content{
    background-color: #f8f9f9;
}

#opciones-modelo{
    width: 100%;
    height: 255px;
    background-color: #eae8e4;
}

#opciones-modelo a{
    display: block;
    float: left;
    width: calc(25% - 1px);
    height: 100%;
    text-align: center;
    border-right: 1px solid #dcdbd8;
    color: #0b121c;
    letter-spacing: .06em;
    font-weight: bold;
    box-sizing: border-box;
    padding-top: 80px;
}

#opciones-modelo a img{
    width: 40px;
    height: 41px;    
}

#opciones-modelo a .break{    
    height: 20px;    
}

#content-variaciones{
    display: block;
    height: auto;
    overflow: auto;
    width: 100%;        
    background-color: #0b121c;
}

.variacion{
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    height: auto;    
    color: #FFF;
    padding-left: 50px;
}

.variacion b{
    text-transform: uppercase;
}

.variacion a{
    display: block!important;
    width: 100%!important;
    height: 20px!important;
    line-height: 20px!important;
    clear: both!important;
    letter-spacing: .12em!important;
    color: #FFF!important;
    text-decoration: none!important;
    font-size: 12px!important;
}

#title-forma{
    width: 1200px;
    height: 180px;
    line-height: 180px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin: 0 auto;
    background: #3b3b3b url('../images/bg-title-forma.png');
    color: #fff;
    font-size: 2.55em;
    font-weight: 100;
}

#body-forma{
    width: 1180px;
    height: auto;
    overflow: auto;
    margin: 0 auto;
    background: #3b3b3b url('../images/bg-body-forma.png');
    color: #333;    
    padding: 10px;
}

#body-forma label{
    font-family: avenir_lt_std_heavy, sans-serif;
    font-size: 1.5em;
    color: #393939;
    font-weight: 400;
}

#body-forma form{
    width: 1000px;
    height: auto;
    overflow: auto;
    margin: 0 auto;
}

#nombre-auto-forma{
    width: 440px;
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
    background-color: #000;
    color: #FFF;    
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: .8em;
    text-shadow: none;
    letter-spacing: 2px;
    font-weight: bold;
}

#body-forma b{
    font-family: avenir_lt_std_medium,sans-serif;
    font-size: 1.2em;
    color: #393939;
    text-transform: uppercase;
    font-weight: 100;
}

#full-bottom{
    clear: both;
    width: 100%;
    height: 220px;
    background-color: rgb(74, 79, 84);
    padding-top: 30px;
    padding-bottom: 30px;
}

#bottom{
    width: 1200px;
    height: 220px;
    margin: 0 auto;
}

.bottom-element{
    width: 400px;
    height: 220px;
    float: left;
    color: #FFF;
}

.bottom-element b{
    font-size: 9px;
    letter-spacing: 0.2em;
    font-weight: bold;
}

.bottom-element a{
    display: block;
    width: 100%;
    height: 27px;
    line-height: 27px;
    color: #FFF;
    font-size: 9px;
    letter-spacing: 0.2em;
}

#page-details{
    width: 1200px;
    height: 44px;
    margin: 0 auto;
}

#page-details a{
    display: inline-block;
    height: 44px;
    line-height: 44px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    color: rgb(74, 79, 84);
    font-weight: bold;
    font-size: 9px;    
    letter-spacing: 0.2em;
}

#page-details-line{
    width: 100%;
    height: 1px;
    clear: both;
    background-color: rgb(228, 232, 232);
}

#copyright{
    width: 1200px;
    height: 55px;
    line-height: 55px;
    margin: 0 auto;
    color: rgb(74, 79, 84);
    font-size: 11px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.input-form{
    width: 90%;
    height: 40px;
    border: none;
    box-shadow: none;
    padding: 5px;
}

.input-form-texarea{
    width: 90%;
    height: 190px;
    border: none;
    box-shadow: none;
    padding: 5px;
    resize: none;
}

.input-form-button{
    display: inline-block!important;
    background: #eaeaea!important;
    border: #000 solid 1px!important;
    text-transform: uppercase!important;
    text-shadow: none!important;
    box-shadow: none!important;
    text-decoration: none!important;
    font-size: .8em!important;
    font-family: land_rover_web_bold,sans-serif!important;
    height: 44px!important;
    line-height: 44px!important;
    padding-left: 30px!important;
    padding-right: 30px!important;
    color: #000!important;
}

.break{
    width: 100%;
    height: 10px;
    clear: both;
}

.left-50{
    width: 50%;
    height: auto;
    overflow: auto;
    float: left;    
}