/*
 To change this license header, choose License Headers in Project Properties.
 To change this template file, choose Tools | Templates
 and open the template in the editor.
 */
/*
 Created on : Feb 18, 2016, 5:35:44 PM
 Author     : admin
 */

@media only screen and (max-width: 840px) {
	#full-top, #top {
		width: 100%;
		margin: 0px;
	}

	.top-link {
		margin-right: 0px;
	}

	.top-link img {
		width: 15px;
		height: 15px;
		margin-right: 3px;
	}

	#top-mail {
		font-size: 10px;
	}

	#top-telefono {
		width: 32%;
	}

	#top-redes {
		width: 33%;
	}

	#top-mail {
		width: 35%;
	}

	#top-redes {
		display: block !important;
	}

	#full-menu {
		height: auto;
		padding-top: 10px;
		padding-bottom: 5px;
	}

	#wrapper-menu {
		width: 100%;
		height: auto;
		margin: 0;
	}

	#logo {
		width: 100%;
		display: block;
		float: none;
		text-align: center;
	}

	#responsive-menu-bar {
		display: block;
	}

	#menu {
		display: none;
		float: none;
		width: 100%;
		height: auto;
		clear: both;
	}

	#content {
		width: 100%;
		margin: 0;
		box-sizing: border-box;
	}

	#content-marcas {
		clear: both;
		width: 100%;
		margin: 0;
	}

	#content-marcas a {
		width: 33%;
		height: auto;
	}

	.last-marca {
		width: 34% !important;
	}

	#content-marcas a img {
		width: 100%;
		height: auto;
	}

	#full-banners {
		height: auto;
	}

	#banners {
		width: 100%;
		height: auto;
		margin: 0;
	}

	#banners a {
		display: block;
		width: 50%;
	}

	#banners a img {
		width: 100%;
		height: auto;
	}

	#full-bottom {
		height: auto;
	}

	#bottom {
		display: none;
	}

	#bottom-direccion {
		width: 100%;
		height: auto;
		line-height: normal;
		font-size: 12px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#quienes-somos-info, #quienes-somos-forma {
		float: none;				
		width: 100%;
		clear: both;
	}
}

